@model IEnumerable<Notes_Attachments.Models.QuotesViewModel>

@{
    ViewData["Title"] = "Quote";
}

<h1>Quote</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogicalName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogicalName)
            </td>
            <td>
                    @Html.ActionLink("QuoteAttachments", "QuoteAttachments", new { id = item.Id }) |
                    @Html.ActionLink("QuoteNote", "QuoteNote", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
